{% extends 'todo/base.html'%}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        {% if todos %}
        <h1>Текущих задач: {{ todos.count }}</h1>
        {% else %}
        <h1>Current Todos</h1>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        {% if todos %}
        <div class="list-group">
            {% for task in todos %}
            <a href="{% url 'view_todo' task.id %}"
               class="list-group-item list-group-item-action" {% if task.important %}style="background-color:Khaki;"{% endif %}><b>
                {{ task.title }}</b>{% if task.description %} - {{ task.description|truncatechars:30 }}{% endif %}</a>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center">
            <h2>Выглядит так буд-то все задачи уже выполнены!</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'create_todo' %}">Новая задача</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

